.page-header {
  flex: none;
  padding: 9px 10px 8px;
  border-bottom: 1px solid #eee;
  .logo {
    color: #444;
    height: 25px;
    width: 115px;
    margin-top: 2px;
    cursor: pointer;

    .home-icon {
      font-size: 20px;
      vertical-align: middle;
    }

    img {
      margin-left: 5px;
      margin-top: 6px;
      width: 80px;
      // vertical-align: bottom;
    }
  }
  .boards-menu-toggle {
    padding-left: 20px;
    width: 100px;
  }
  .profile-menu-toggle {
    width: 215px;
    text-align: right;
  }
  .search-box {
    .search-wrapper {
      width: 300px;
      margin: 0 auto;
      position: relative;

      .dropdown-items {
        display: none;
        width: 100%;
        position: absolute;
        background-color: white;
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #eee;
        border-radius: 0.25rem;

        .dropdown-title {
          padding: 0.25rem 1.5rem;
          background-color: cornsilk;
        }
      }

      .show {
        display: block;
      }
    }
    .search-icon {
      position: absolute;
      top: 8px;
      left: 8px;
      color: #666;
    }
    input {
      padding-left: 30px;
      height: calc(1.8125rem + 5px);
      font-size: 1rem;
      border: 1px solid #eee;
      border-radius: 5px;
    }
  }
}
.dropdown-toggle {
  padding: 2px 5px !important;
}
